@page "/"

<PageTitle>Home</PageTitle>

<h1>Proyecto #2 - SL2</h1>

Integrantes:
<ul>
    <li><strong>Francisco Boicho</strong></li>
    <li><strong>Kevin Damian</strong></li>
    <li><strong>Julieta Fretes</strong></li>
    <li><strong>Nahuel Pedernera</strong></li>
</ul>
